<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Animation-Box</title>
	<link rel="stylesheet" href="../css/style.css">
</head>
<body>
	<div class="wrapper">
		<h1 class="title">프론트 엔드 스쿨 멤버를 소개합니다!</h1>
		<div class="box-wrapper">
			<div class="box1">
				<div class="img1"></div>
				<span class="info-title">Jiseung</span>
				<span class="line"></span>
				<span class="info-desc">Hello Jiseung!</span>
			</div>
			<div class="box2">
				<div class="img2"></div>
				<span class="info-title">Byunghoon</span>
				<span class="line"></span>
				<span class="info-desc">Hello Byunghoon!</span>				
			</div>
			<div class="box3">
				<div class="img3"></div>
				<span class="info-title">Jisoo</span>
				<span class="line"></span>
				<span class="info-desc">Hello Jisoo!</span>				
			</div>
		</div>
		<div class="box-wrapper">
			<div class="box4">
				<div class="img4"></div>
				<span class="info-title">Hyunwoo</span>
				<span class="line"></span>
				<span class="info-desc">Hello Hyunwoo!</span>				
			</div>
			<div class="box5">
				<div class="img5"></div>
				<span class="info-title">Juneha</span>
				<span class="line"></span>
				<span class="info-desc">Hello Juneha!</span>				
			</div>
			<div class="box6">
				<div class="img6"></div>
				<span class="info-title">Minji</span>
				<span class="line"></span>
				<span class="info-desc">Hello Minji!</span>				
			</div>
		</div>
	</div>
</body>
</html>