@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css";

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  color: #000;
  font-size: 1.4rem;
}

ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #03a67b;
}

h1, h2, h3, h4, h5, h6, ul, li, p, input, button {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 5.2rem;
  font-weight: 600;
}

h3 {
  font-size: 4.4rem;
  font-weight: 600;
}

input, button {
  border: 0;
  height: 50px;
}

p {
  margin-top: 20px;
  line-height: 1.5;
  color: #ababab;
}

em {
  font-style: normal;
}

hr {
  border: none;
  border-top: 1px solid #ababab;
  margin: 100px 0;
}
